.bg-theme{
  background-color: #00cccd;
}
.cart-icon{
  font-size: 2rem;
}
.hero-background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-warning{
  padding: 8px 35px;
}
.card-group{
  margin-top:20px;
}
.card{
  margin-left: 30px;
  margin-right: 100px;

}
.pad{
  padding-top: 20px;
}
.bg-navtheme{
  background-color: black;
}