.bg-theme{
  background-color: #00cccd;
}
.home{
  margin-bottom: 250px;
}
.hero-background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-title{
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.card-title1{
  color: black;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.card-text{
  font-size: 15px;
}
.btn-warning{
  padding: 8px 35px;
}
.card-group{
  margin-top:20px;
}

.pad{
  padding-top: 40px;
}
.bg-navtheme{
  background-color: black;
}
.bg-navtheme1{
  background-color: black;
  
}
/* @media  (max-device-width: 770px){
  .bg-navtheme1{
    background-color: black;
    width: 185vw;
  }
} */
.info{
  height: 100vh;
  width: 70vw;
  margin-top: 140px;
  color: white;
}
.bestes{
  position: relative;
  top: 0;
  left: 0;
}
.best{
  width: 80px;
  position: absolute;
      top: 10px;
      left: 25px;
}

.searchpng{
  width: 20px;
}
.row-content{
  margin: 125px 0px 105px 0px;
}
.row-content-bg{
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 30px 20px;
}
.row-content-pro{
  margin: 135px 0px 105px 0px;
}
.glow{
  text-shadow: 1px 1px 2px0black, 0 0 25px red, 0 0 25px black;
}
.row-content-1{
  margin-bottom: 60px;
  margin-right: 20px;
  margin-left: 20px;
}

.row-content-2{
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.pro{
  margin-top: 70px;
}

.title{
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 25px darkblue;
  margin-top: 150px;
}

.welcome{
  color: black;
  font-size: 30px;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px black;
  text-align: center;
}


.cont{
  background-image: url("https://images.pexels.com/photos/1429567/pexels-photo-1429567.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
}

.about{
  height: 100vh;
  
  background-image: url("https://images.pexels.com/photos/1236701/pexels-photo-1236701.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment: fixed;
  background-position: "center";
  background-repeat: "no-repeat";
  background-size: auto;
}
  .abouth1{
    margin-top: 100px;
    text-align: center;
  color:white;
  }

.dropdown-menu{
  width: 100%;
}





.menu-large {
  position: static !important;
}

@media (min-width:320px)and (max-device-width: 568px){
  .megamenu {
    width: 40vw;
    height: 70vh;
    margin: 35px;
    background-color:black;
  }
  .w{
    width:80px;
    height: 60px;
    margin-bottom: 5px;
  }
  }

@media (min-width:360px) and (max-device-width: 640px){
  .megamenu {
    width: 40vw;
    height: 80vh;
    margin: 35px;
    background-color:black;
  }
  .w{
    width:80px;
    height: 60px;
    margin-bottom: 25px;
  }
  }
  
    @media (min-width:375px)and (max-device-width: 667px){
      .megamenu {
        width: 40vw;
        height: 70vh;
        margin: 35px;
        background-color:black;
      }
      .w{
        width:80px;
        height: 60px;
        margin-bottom: 15px;
      }
      }

      @media (min-width:375px)and (max-device-width: 812px){
        .megamenu {
          width: 40vw;
          height: 80vh;
          margin: 35px;
          background-color:black;
        }
        .w{
          width:80px;
          height: 60px;
          margin-bottom: 15px;
        }
        }
      
  @media (min-width:411px)and (max-device-width: 731px){
    .megamenu {
      width: 40vw;
      height: 70vh;
      margin: 35px;
      background-color:black;
    }
    .w{
      width:80px;
      height: 60px;
      margin-bottom: 25px;
    }
    }
    
    @media (min-width:411px)and (max-device-width: 823px){
      .megamenu {
        width: 40vw;
        height: 70vh;
        margin: 35px;
        background-color:black;
      }
      .w{
        width:80px;
        height: 60px;
        margin-bottom: 35px;
      }
      }
      @media (min-width:414px)and (max-device-width: 736px){
        .megamenu {
          width: 40vw;
          height: 80vh;
          margin: 35px;
          background-color:black;
        }
        .w{
          width:80px;
          height: 60px;
          margin-bottom: 15px;
        }
        }  
        

    @media (min-width:768px)and (max-device-width: 1024px){
    .megamenu {
      width: 40vw;
      height: 87vh;
      margin: 10px;
      background-color:black;
    }
    .w{
      width: 170px;
      height: 120px;
      margin-bottom: 25px;
    }
  }
    @media (min-width:768px)and (max-device-width: 575px){
      .megamenu {
        width: 40vw;
        height: 87vh;
        margin: 10px;
        background-color:black;
      }
      .w{
        width: 170px;
        height: 120px;
        margin-bottom: 25px;
      }
      }
    
   
    @media (min-width:1024px)and (max-device-width: 1366px){
      .megamenu {
        width: 57vw;
        height:25vh;
        margin: 10px;
        background-color:black;
      }
      .w{
        width: 170px;
        height: 120px;
        margin-bottom: 55px;
      }
      }
      @media (min-width:1024px){
        .megamenu {
          width: 57vw;
          height: 60vh;
          margin: 10px;
          background-color:black;
        }
        .w{
          width: 170px;
          height: 120px;
          margin-bottom: 55px;
        }
      }
  
      @media (min-width:1300px){
        .megamenu {
          width: 57vw;
          height: 50vh;
          margin: 10px;
          background-color:black;
        }
        .w{
          width: 200px;
          height: 130px;
          margin-bottom: 25px;
          margin-top: 15px;
        }
        }

.abc{
  margin-left: 10px;
}

@media (min-width:1300px){
.abc{
  margin-left: 45px;
}
}


.text{
  font-size: 20px;
      }

.back1{
  background-color: black;
  background-repeat: repeat;
}

.pa{
  margin-top: 50px;
}
.aa{
 font-size: 30px;
color: blue;
}
.bb{
font-size: 18px;
}
@media  (max-width:360px){
.back{
  margin-top: 50px;
}
}

.bot-mar{
  margin-bottom: 0px;
}

.card{
  width: auto;
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: black;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.conthead{
  text-align: center;
  color: yellow;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 25px darkblue;
  margin-bottom: 25px;
}